body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(Imagens/outros/IMG-20220521-WA0012.jpg);
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
}

.nos-imagens-index {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}